<a href="https://colab.research.google.com/github/shallynagfase9/Data-Science-Assignments/blob/main/Pandas_Advance1_assgmt_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Q1. List any five functions of the pandas library with execution.
"""
read-csv()
head()
tail()
describe()
len()
"""
import pandas as pd
df = pd.read_csv("/content/services.csv")
print(df.head(3))
print(df.tail(2))
print(df.describe())
print(len(df))

   id  location_id  program_id accepted_payments alternate_name  \
0   1            1         NaN               NaN            NaN
1   2            2         NaN               NaN            NaN
2   3            3         NaN               NaN            NaN

                           application_process  \
0                   Walk in or apply by phone.
1           Apply by phone for an appointment.
2  Phone for information (403-4300 Ext. 4322).

                                            audience  \
0  Older adults age 55 or over, ethnic minorities...
1       Residents of San Mateo County age 55 or over
2  Older adults age 55 or over who can benefit fr...

                                         description  \
0  A walk-in center for older adults that provide...
1  Provides training and job placement to eligibl...
2  Offers supportive counseling services to San M...

                                         eligibility email  ...  \
0  Age 55 or over for most programs, age 60 or ov...   NaN  ...
1  Age 55 or over, county resident and willing an...   NaN  ...
2        Resident of San Mateo County age 55 or over   NaN  ...

  interpretation_services                                           keywords  \
0                     NaN  ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1                     NaN  EMPLOYMENT/TRAINING SERVICES, Job Development,...
2                     NaN  Geriatric Counseling, Older Adults, Gay, Lesbi...

  languages                              name required_documents  \
0       NaN   Fair Oaks Adult Activity Center                NaN
1       NaN  Second Career Employment Program                NaN
2       NaN            Senior Peer Counseling                NaN

      service_areas  status wait_time website taxonomy_ids
0             Colma  active  No wait.     NaN          NaN
1  San Mateo County  active   Varies.     NaN          NaN
2  San Mateo County  active   Varies.     NaN          NaN

[3 rows x 22 columns]
    id  location_id  program_id         accepted_payments  \
21  22           22         NaN  Cash, Check, Credit Card
22  23           22         NaN                       NaN

           alternate_name                application_process  \
21  Fotos para pasaportes  Walk in or apply by phone or mail
22                    NaN  Walk in or apply by phone or mail

                                             audience  \
21  Profit and nonprofit businesses, the public, m...
22  Second service and nonprofit businesses, the p...

                                          description eligibility  \
21  [NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...        None
22  [NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...        None

                    email  ...  \
21  passports@example.org  ...
22                    NaN  ...

                              interpretation_services  \
21  We offer 3-way interpretation services over th...
22                                                NaN

                                      keywords languages  \
21                             Salud, Medicina   Spanish
22  Ruby on Rails/Postgres/Redis, testing, wic       NaN

                    name                        required_documents  \
21       Passport Photos  Government-issued picture identification
22  Example Service Name                                       NaN

                       service_areas  status            wait_time  \
21  Alameda County, San Mateo County  active  No wait to 2 weeks.
22  San Mateo County, Alameda County  active   No wait to 2 weeks

                   website                              taxonomy_ids
21  http://www.example.com  105, 108, 108-05, 108-05-01, 111, 111-05
22  http://www.example.com                                       NaN

[2 rows x 22 columns]
             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN
23

In [7]:
""" Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row."""

import pandas as pd
def reindex_dataframe(df):
  new_index = pd.Series(range(1, len(df)*2, 2))
  df.index = new_index
  return df

data = ({
    "A":[1,2,3,4,5],
    "B":[2,5,4,1,7],
    "C":[9,10,2,5,6]
})

df = pd.DataFrame(data)
df = reindex_dataframe(df)
print(df)

   A  B   C
1  1  2   9
3  2  5  10
5  3  4   2
7  4  1   5
9  5  7   6

In [8]:
"""
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.
"""

import pandas as pd

def calculate_sum_first_three_values(df):
    sum_first_three_values = df['Values'].head(3).sum()
    print("Sum of the first three values in the 'Values' column:", sum_first_three_values)

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

calculate_sum_first_three_values(df)

Sum of the first three values in the 'Values' column: 60

In [11]:
"""
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.
"""
df = pd.DataFrame({"Text":["ABAC", "BABG", "JHHG"]})
df
df["new_col"] = "Word_Count"
df['Word_Count'] = len("Text")
print(df)

   Text     new_col  Word_Count
0  ABAC  Word_Count           4
1  BABG  Word_Count           4
2  JHHG  Word_Count           4

In [12]:
# Q5. How are DataFrame.size() and DataFrame.shape() different?
"""
The DataFrame.size method returns the total number of elements in a DataFrame, which is equivalent to the number of rows multiplied by the number of columns.
The DataFrame.shape method returns a tuple representing the dimensionality of the DataFrame, showing the number of rows and columns.
"""

'\nThe DataFrame.size method returns the total number of elements in a DataFrame, which is equivalent to the number of rows multiplied by the number of columns.\nThe DataFrame.shape method returns a tuple representing the dimensionality of the DataFrame, showing the number of rows and columns.\n'

In [ ]:
# Q6. Which function of pandas do we use to read an excel file?
# The function in Pandas used to read an Excel file is read_excel().

In [15]:
"""
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.
"""
import pandas as pd
df = pd.DataFrame({
    "Email":["shallynagfase301@gmail.com", "shallyn.aids21@sbjit.edu.in", "username@domain.com"]
})
df
df['new_col'] = "Username"
df['Username'] = df['Email'].str.split('@').str[0]
df

                         Email   new_col          Username
0   shallynagfase301@gmail.com  Username  shallynagfase301
1  shallyn.aids21@sbjit.edu.in  Username    shallyn.aids21
2          username@domain.com  Username          username

In [17]:
"""
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.
"""
import pandas as pd
df = pd.DataFrame({
    "A":[3,8,6,2,9],
    "B":[5,2,9,3,1],
    "C":[1,7,4,5,2]
})
df
print(df[(df["A"] > 5) & (df["B"] < 10)])

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [19]:
# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.
import pandas as pd
df = pd.DataFrame({
    "Values": [1,2,3,4,5,6,7,8,9,10]
})
df
print(df.describe())
print(df.mean())
print(df.median())
print(df.std())

         Values
count  10.00000
mean    5.50000
std     3.02765
min     1.00000
25%     3.25000
50%     5.50000
75%     7.75000
max    10.00000
Values    5.5
dtype: float64
Values    5.5
dtype: float64
Values    3.02765
dtype: float64

In [20]:
"""
 Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.
"""
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

data = {'Date': pd.date_range(start='1/1/2022', periods=10),
        'Sales': [100, 120, 130, 110, 150, 140, 160, 170, 180, 190]}
df = pd.DataFrame(data)

df = calculate_moving_average(df)

print(df)

        Date  Sales  MovingAverage
0 2022-01-01    100     100.000000
1 2022-01-02    120     110.000000
2 2022-01-03    130     116.666667
3 2022-01-04    110     115.000000
4 2022-01-05    150     122.000000
5 2022-01-06    140     125.000000
6 2022-01-07    160     130.000000
7 2022-01-08    170     140.000000
8 2022-01-09    180     148.571429
9 2022-01-10    190     157.142857

In [21]:
"""
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.
"""
import pandas as pd

def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df

data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [22]:
"""
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
"""
import pandas as pd

def select_rows_between_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    return selected_rows

data = {'Date': ['2023-01-05', '2023-01-15', '2023-02-10', '2023-01-25', '2023-03-05']}
df = pd.DataFrame(data)
selected_df = select_rows_between_dates(df)

print(selected_df)

        Date
0 2023-01-05
1 2023-01-15
3 2023-01-25

In [24]:
"""
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?
"""

"""
To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is the NumPy library.
Pandas is built on top of NumPy, and many of the structures and functionalities in NumPy are used or replicated in Pandas.
""'

'\nQ13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to\nbe imported?\n'